services:
  caddy-public:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - "80:80"    # HTTP
      - "443:443"  # HTTPS
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile
    volumes:
      - /nvme/docker/caddy_lan/data:/data
      - /nvme/docker/caddy_lan/config:/config
    networks:
      - caddy_public

networks:
  caddy_public:
    name: caddy_public
    driver: bridge

configs:
  Caddyfile:
    content: |
      auth.florianveaux.fr {
        reverse_proxy authentik-server:9000
      }

      immich.florianveaux.fr {
        reverse_proxy /outpost.goauthentik.io/* http://authentik-server:9000

        forward_auth authentik-server:9000 {
          uri /outpost.goauthentik.io/auth/caddy
          copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
        }
        reverse_proxy 192.168.1.3:2283
      }